@{
    ViewBag.Title = "Sobre Nosotros";
}
<main aria-labelledby="Caso">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>San Jose Costa Rica</h3>

    <p>Somos el Grupo 6</p>
    <div>
        <h3>Universidad Fidelitas</h3>
    </div>
</main>