@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        No disponible<br />
        Universidada Fidelistas<br />
        <abbr title=Somos>:</abbr>
        Grupo 6
    </address>

    <address>
        <strong>Support:</strong>   <a href="Chuz:jmartinez30104@ufide.ac.cr">jmartinez30104@ufide.ac.cr</a><br />
        <strong>Marketing:</strong> <a href="A:avega00283@ufide.ac.cr">avega00283@ufide.ac.cr</a>
    </address>
</main>